.banner {
  text-align: center;
  width: 50%;
  height: 150px;
  border: 1px solid black;
  padding: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.banner button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 45px;
}

.banner button:hover {
  background-color: darkblue;
}
