.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.publisher-entry {
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.publisher-field {
  margin-left: 1rem;
  color: black;
  width: 50%;
  font-size: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.upload-form__input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.upload-form__input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.upload-form__button {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.upload-form__button:hover {
  background-color: darkblue;
}
