.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.publisher-entry {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
}

.publisher-field {
 margin-left: 1rem;
 background-color: blue;
 color: white;
 width: 620px
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.upload-form__input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.upload-form__input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.upload-form__button {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.upload-form__button:hover {
  background-color: darkblue;
}
